<!doctype html>
<html>
<head>
  <meta name="robots" content="noindex">
  <meta charset="UTF-8">
  <title>{{appName}}</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script>
    window.ENV = '{{env}}'
    window.LOG_LEVEL = '{{logLevel}}'
  </script>
</head>

<body>

<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
